@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  font-size: 10px;
}
::selection {
  background-color: black;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
}
h1 {
  font-size: 7vh;
  font-weight: 400;
  margin: 0;
}
h1 + .arrow {
  margin-top: 2.4rem;
  margin-bottom: 4.8rem;
}
h2 {
  font-size: 4.7vh;
  font-weight: 400;
  text-align: center;
}
h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
}
h4 {
  font-size: 3.2rem;
}
p {
  font-size: 2.4rem;
  line-height: 160%;
  margin-top: 0.8rem;
}
header {
  position: fixed;
  padding: 6rem;
  z-index: -1;
}
nav {
  width: 100%;
  position: fixed;
  z-index: 99;
  text-align: right;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li button {
  font-size: 3.2rem;
  padding: 4.8rem;
  border: 0;
  background: 0;
  text-decoration: underline 2px;
}
nav ul li button:hover {
  cursor: pointer;
  text-decoration-style: wavy;
}
#wrk,
.work-logo {
  display: flex;
  width: 49vmin;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
}
.work-logo {
  margin: 1.6rem;
}
.hide {
  top: -20rem !important;
}
.yellow svg {
  fill: #fcee22;
}
.cyan svg {
  fill: #00aeef;
}
.magenta svg {
  fill: #ec008c;
}
#wrk svg:last-child,
.work-logo svg:last-child {
  width: 11vmin;
  height: 11vmin;
  left: 16.7vmin;
  position: absolute;
  animation: rotation 10s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#horizontal-container {
  overflow-y: scroll;
  overflow-x: hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position: absolute;
  width: 100vh;
  height: 100vw;
}
#horizontal-inner-container {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space: nowrap;
  font-size: 0;
  display: flex;
}
#horizontal-inner-container > section {
  width: 100vw;
  height: 100vh;
}
#about,
#end {
  white-space: normal;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#about > p,
#end > p {
  width: 70%;
  max-width: 700px;
  text-align: center;
}
#about .work-logo:first-child {
  margin-top: -4rem;
}
#about h4 {
  margin-top: 4rem;
}
#end {
  justify-content: center;
}
.company-logos {
  margin-top: 4rem;
}
.company-logos img {
  width: 32rem;
  margin: 0 auto;
}
.workspace {
  white-space: normal;
}
.workspace-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.workspace-grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 4.8rem;
  width: 100%;
}
.workspace-grid.with-video {
  grid-template-columns: auto;
  padding: 5vw;
  max-width: 1400px;
}
.workspace-grid.with-video .workspace-frame,
.workspace-grid.with-video .workspace-sidebar {
  grid-column-start: initial;
  grid-column-end: initial;
}
.workspace-grid.with-video .workspace-sidebar > p {
  max-width: 100%;
  width: 100%;
}
.workspace-frame {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: center;
  width: 100%;
  position: relative;
}
.workspace-frame a {
  color: black;
  display: block;
  position: relative;
  text-decoration: none;
}
.workspace-frame a:hover {
  cursor: pointer;
}
.workspace-frame img {
  width: 50vh;
  padding: 1.2rem;
  border: 1px solid black;
  background-color: white;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.workspace-frame h2 {
  margin-top: 1.6rem;
}
.workspace-frame a:hover img {
  padding: 0px;
}
.workspace-frame a:before {
  content: "read more \27F6";
  text-transform: uppercase;
  position: absolute;
  background: black;
  color: white;
  border: 1px solid black;
  font-size: 2.4rem;
  text-align: center;
  padding: 1.6rem 3.2rem;
  left: 0;
  z-index: 20;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.workspace-frame a:hover:before {
  opacity: 1;
}
.workspace-sidebar {
  justify-self: left;
  grid-column-start: 3;
  grid-column-end: 3;
  align-self: center;
  margin-bottom: calc(5vh + 0.5rem);
}
.workspace-sidebar p {
  margin-bottom: 2.4rem;
  margin-top: 0;
}
.workspace-sidebar a,
#poppin-links a {
  font-size: 1.6rem;
  color: black;
  display: inline-block;
  text-decoration: underline;
  margin-right: 0.8rem;
  margin-top: 0.8rem;
}
.workspace-sidebar a:hover,
#poppin-links a:hover {
  text-decoration-style: wavy;
}
#poppin {
  opacity: 0;
  top: 5rem;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
#poppin.show {
  top: 0;
  opacity: 1;
  pointer-events: initial;
}
#poppin a.close {
  padding: 2.4rem 4.8rem;
  font-size: 3vh;
  cursor: pointer;
  z-index: 10;
  position: fixed;
  color: white;
  background-color: black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transition: background-color 0.2s ease-in-out;
}
#poppin a.close:hover {
  background-color: white;
  color: black;
}
#poppin-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: center;
  padding: 4.8rem;
}
#poppin-frame {
  position: sticky;
  top: 0;
  max-width: 30%;
}
#poppin-frame img {
  width: 100%;
}
#poppin-sidebar {
  width: 70%;
  margin-left: 4.8rem;
  display: flex;
  flex-direction: column;
}
#poppin-sidebar > * {
  text-align: left;
}
#poppin-sidebar > h2 {
}
#poppin-description {
  font-size: 3.2rem;
  line-height: 160%;
  padding-bottom: 50%;
}
#poppin-links {
  margin-top: 0.5rem;
  margin-bottom: 4.8rem;
}
#poppin-links a {
  margin-top: 0;
}
#timeline {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#timeline .line {
  min-width: 1px;
  height: 2rem;
  background-color: black;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#timeline .line.benchmark {
  height: 0rem;
}
#timeline .line p {
  text-align: center;
  width: 3rem;
  left: -1.5rem;
  top: -4rem;
  position: absolute;
  font-size: 1.4rem;
  color: black;
  pointer-events: none;
  transition: font-size 0.2s ease-in-out;
}
#timeline .line:first-child p, #timeline a[href^='#end'].line p  {
  font-size: 3.6rem !important;
  bottom: 2rem;
  pointer-events: none;
}
#timeline .line:after {
  content: "";
  width: 5rem;
  height: 5rem;
  display: block;
  position: absolute;
  z-index: -1;
  left: -2.5rem;
  top: -1rem;
}
#timeline .line img,
#timeline .line iframe {
  width: 6rem;
  bottom: 3.5rem;
  left: -3rem;
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: white;
  pointer-events: none;
  z-index: 20;
}
#timeline .line:hover img,
#timeline .line.current img,
#timeline .line:hover iframe,
#timeline .line.current iframe {
  opacity: 1;
  bottom: 5rem;
}
#timeline .line:hover {
  height: 4rem;
  width: 1px;
}
#timeline .line.current {
  width: 3px;
  height: 4rem;
}
#timeline .line.current p {
  font-size: 1.8rem;
}
#timeline .line .play-button {
  opacity: 0;
}
#timeline .line.current .play-button,
#timeline .line:hover .play-button {
  opacity: 1;
  top: -9rem;
}
#tracker {
  position: absolute;
  display: block;
  width: 0%;
  height: 5px;
  background-color: black;
  left: 0;
  bottom: 0;
}
.blur {
  filter: blur(3.2rem);
  position: fixed;
}
@media only screen and (max-width: 1200px) {
  .workspace-frame h2 {
    font-size: 6.5vw;
  }
}
@media only screen and (max-width: 800px) {
  :root {
    font-size: 8px;
  }
  header {
    padding: 5.6rem 4.8rem 4.8rem;
    z-index: -1;
  }
  nav {
    display: none;
  }
  h1 {
    font-size: 10vmin;
  }
  .workspace-frame h3 {
    font-size: 3.4vw;
  }
  #about > *,
  #about > #end > * {
    max-width: 100%;
  }
  #about > p,
  #end > p {
    max-width: 100%;
    font-size: 1.7vh;
  }
  .work-logo {
    width: 75vmin;
  }
  .work-logo svg:last-child {
    width: 17vmin;
    height: 17vmin;
    left: 25.7vmin;
  }
  #horizontal-inner-container {
    z-index: 4;
  }
  .workspace-grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1.6rem;
    margin-bottom: 6rem;
  }
  .workspace-grid.with-video .workspace-frame {
    align-items: normal;
  }
  .workspace-sidebar {
    justify-self: initial;
    grid-column-start: initial;
    grid-column-end: initial;
    align-self: initial;
    margin-bottom: initial;
    text-align: center;
  }
  .workspace-frame {
    grid-column-start: initial;
    grid-column-end: initial;
    justify-self: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workspace-sidebar p {
    width: 100%;
    font-size: 2.8vw;
  }
  .workspace-frame img {
    width: 70vmin;
  }
  #timeline .line:after {
    width: 2rem;
    left: -1rem;
  }
  #poppin {
    top: 0;
  }
  #poppin h3 {
    font-size: 2.4rem;
  }
  #poppin-links a {
    font-size: 1.6rem;
  }
  #poppin h2 {
    font-size: 4rem;
  }
  #poppin-frame {
    position: relative;
    width: auto;
    padding: 0;
    left: auto;
    height: auto;
    max-width: 100%;
    min-height: 40%;
  }
  #poppin-frame img {
    height: 100%;
    width: auto;
  }
  #poppin-description {
    font-size: 2vh;
  }
  #poppin-sidebar {
    width: 100%;
    margin-left: auto;
    margin-top: 2.4rem;
  }
  #poppin-container {
    justify-content: initial;
    flex-direction: column;
    align-items: center;
  }
  #poppin a.close {
    font-size: 4vw;
    top: 0;
    position: sticky;
    width: 100%;
    border: 0;
    padding: 2.4rem;
    border-bottom: 1px solid black;
  }
  #poppin-links {
    margin-bottom: 3.2rem;
  }
}
